
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    
}

/* body */
body {
    font-family:inherit;

    width: 100%;
}
/* styles of header container */
header {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    background: #5A361E;;
    align-items: center;
}

/* this is logo of the page*/
.cup {
    width: 100px;
    margin-top: -0.5rem;
    
}

nav {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-content: center;
}
/* These are styles of li in navbar*/
nav li {
    list-style-type: none;
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold;
    

}
nav li a {
  color: white;

}

nav li a:hover {
    color: brown;
    cursor: pointer;
}
ul{
  display: flex;
  flex-direction: row;
}
nav ul a {
    text-decoration: none;

}

a[target="_blank"]::after {
    content: "🔗";
}
/* This is general styles for headings*/
h1 {
    font-size: 2em;
    
}
/* This is general styles for headings*/
h2 {
    font-size: 1.5em;
}
/* This is general styles for par*/
p {
    font-size: 16px;
    line-height: 1.6;
    color: blanchedalmond;
}

.highlight {
    background-color: brown;
}

.italic {
    font-style: italic;
}
.reserve{

}/* This is container for reservation part of the page*/
.reserve{
    height: 400px;
    display: flex;
    flex-direction: row;
    padding: 70px ;
}
@media (max-width: 768px) {
  .reserve{
    flex-direction: column;
    margin-bottom: 40rem;
  }
}

/* This is left part of the reserve page */
.left-div{
    display: flex;
    flex: 1;
}
/* This is right part of the reserve page */
.right-div{
    padding-top: 5rem;
    flex: 1;
    color: #5A361E;
}
/* This is styles for main heading in the above the fold */
.ad{
    color:#5A361E;
    font-family: Playfair Display;
    font-size: 68px;
    font-style: normal;
    width: 80%;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 17px;
    margin-left: -10px;
}
/* This is styles for main heading in the above the fold */
.ads{
    color: #5A361E;
    width: 540px;
    text-align: justify;
    
    font-family: Dosis;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    width: 80%;
    line-height: 142.9%; /* 25.722px */
}
/* This is table styles for the table*/
.menu-table {
 
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #5a3e36;
}
.talbe-component{
  margin-top: 14rem;
}
/* Styiling the row of the table */
.menu-table th, .menu-table td {
    border: 1px solid #ddd;
    padding: 12px 20px;
    text-align: left;
    color: #5a3e36;
}
/* id for 1 row in the table*/
#white-mr{
  color: white;
}
/* id for 1 row in the table*/
#white-mrs{
  color: white;
}
/* container for the footer part of the page*/
.footer{
  background: #5a3e36;
  width: 100vw;
  height: 300px;
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* text in the footer*/
.text-footer{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.hos{

  font-size: 32px;
  margin-bottom: 5rem;
  margin-top: -3rem;
}
/* id for column in the table*/
.menu-table thead {
    background-color: #5a3e36;
    color: white;
}

.menu-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.menu-table tbody tr:nth-child(odd) {
    background-color: #fff;
}

.menu-table tbody tr:hover {
    background-color: #ddd;
}
/* li:nth-child(even) {
    color: brown;
} */
 /* container for the heros sectino*/
.heross {
    position: relative;
    height: 550px;
    width: 100%;
    background-image: url("./desktop-wallpaper-piping-hot-coffee-print-a-more.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 12%;
    position: relative;
  }
  /* id for contert*/
  .hero__content {
    
    width:100%;
    position: relative;
    z-index: 1; /* Ensures content appears above the image */
  }
  
  .hero__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 500px;
    object-fit: cover; /* Ensures the image covers the width without stretching */
    z-index: 0; /* Ensures the image is behind the content */
  }
  /* h1 in the hero section*/
.hero__content h1 {
    
    padding-top: 4rem;
  color: #FFF;
  font-family: Playfair Display;
  font-size: 68px;
  font-style: normal;
  width: 80%;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 17px;
}
/* styles for p row in the table*/
.hero__content p {
  
  width: 540px;
  text-align: justify;
  color: #FFF;
  font-family: Dosis;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  width: 50%;
  line-height: 142.9%; /* 25.722px */
}
/* buttons for hero*/
.hero__content__buttons {

  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.hero__content__buttons button {
  width: 180px;
  height: 45px;
  color: #FFF;
  text-align: center;
  font-family: Playfair Display;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  background: #5A361E;
  border-radius: 4px;
  border: none;
}
.hero__content__buttons button:nth-of-type(2) {
  border: 1px solid #FFF;
  background: transparent;
}
.hero__content__buttons button:hover {
  cursor: pointer;
}
/* media query for hero resp*/

@media (max-width: 1300px) {
  .imgossss{
    width: 450px;
    height: 450px;
  }
  .hero__content h1 {
    font-size: 60px;
  }
  .hero__content p {
    width: 500px;
    font-size: 20px;
  }
  .hero__content__buttons button {
    width: 160px;
    height: 40px;
    font-size: 16px;
  }
}
.row{
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.row img {
  width: 255px;
  height: auto;
  
}
/* big image in the columns*/
.bigOne  img{
  margin-top: 10px;
  width: 785px;
  height: 350px;
}
@media (max-width: 1000px) {
  .hero {
    display: flex;
  }
  .hero__content {

  }
  .hero__content h1 {
    font-size: 50px;
  }
  .hero__content p {
    width: 500px;
    font-size: 19px;
  }
  .hero__content__buttons button {
    width: 140px;
    height: 40px;
    font-size: 15px;
  }
  .galery{
    width: 100vw;
    
  }
  
  .phto-part{
    padding: 4rem 11%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .row img {
    width: 200px;
    height: auto;
    
  }
  .imgossss{
  width: 450px;
  height: 450px;
}
.bigOne  img{
  margin-top: 10px;
  width: 620px;
  height: 350px;
}
}

@media (max-width: 768px) {
  .hero {
    padding-top: 100px;
    height: 430px;
  }
  .hero__content {
   
  }
  .hero__content h1 {
    font-size: 45px;
  }
  .hero__content p {
    width: 500px;
    font-size: 16px;
  }
  .hero__content__buttons button {
    width: 110px;
    height: 35px;
    font-size: 13px;
  }
  .talbe-component{
    margin-top: -15rem;
    padding-top:0;
  }
}
@media (max-width: 650px) {
  
  .hero {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .heross{
    display: flex;
    justify-content: center;
    text-align: center;

  }.frmrmr{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .hero__content {
    display: flex;
    align-items: center;
    margin: 0;
    flex-direction: column;
    justify-items: center;
    text-align: center;
  }
  .hero__content h1 {
    font-size: 40px;
    text-align: center;
    justify-content: center;
    width: 400px;
    margin: 0 auto;
  }
  .hero__content p {
    width: 500px;
    font-size: 14px;
    display: flex;
    text-align: center;
    margin: 0 auto;
  }
  .hero__content__buttons button {
    width: 110px;
    height: 35px;
    font-size: 13px;
  }
  .row img {
    width: 150px;
    height: auto;
    
  }
  .imgossss{
  width: 425px;
  height: 425px;
  }
  .bigOne  img{
  margin-top: 10px;
  width: 470px;
  height: 350px;
  }
}
@media (max-width: 480px) {
  .ad{
    font-size: 40px;

  }
  .ads{
    width: 100%;
    padding: 0;
  }
  .cup{
    width: 70px;
  }
  nav li {
    
    font-size: 10px;
    font-weight: bold;
    

}
  .row img {
    width: 110px;
    height: auto;
    
  }
  .imgossss{
  width: 300px;
  height: 300px;
  }
  .bigOne  img{
  margin-top: 10px;
  width: 350px;
  height: 200px;
  }
}
@media (max-width: 550px) {
  .hero {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .hero__content {
    display: flex;
    align-items: center;
    margin: 0;
    flex-direction: column;
  }
  .hero__content h1 {
    font-size: 40px;
  }
  .hero__content p {
    width: 500px;
    font-size: 15px;
    width: 80%;
    display: flex;
    text-align: center;
  }
  .hero__content__buttons button {
    width: 100px;
    height: 33px;
    font-size: 12px;
  }
}

@media (max-width: 950px){
  .reserve{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 15rem;
  }
  .right-div{
    text-align: center;
    justify-content: center;
  }
  .flflf{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto  ;
  }
  .ads{
    margin: 0 auto;
  }
  .ad{
    margin: 0 auto;
  }
}

/* the images in a row*/

.contac-page{
  
}
.form-part{
  padding: 5rem 11%;
  
}
.form input{

}

.form-acd{

}
/* from of the page*/
form{
  display: flex;
  flex-direction: column;
}
/* from */
.contact-form {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-gap: 15px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.contact-form label {
  font-weight: bold;
  color: #5a3e36;
}
/* styles when inputung*/
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="text"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}
/* styles when inputung*/
.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #5a3e36;
  background-color: #fff;
  outline: none;
}
/* contact page buttons*/
.contact-form button {
  background-color: #5a3e36;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #d9b59b;
}

.saf{
  margin-top: 1rem;
}
/* styles for the text div in contact*/
.text-divos{
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  flex-direction: column;
  font-weight: bold;
  font-family: Playfair Display;
}

.text-divos span{
  color: #5a3e36;
}
/* styles for p in text div */
.text-divos p{
  color: #5a3e36;
  text-align: center;
  justify-content: center;
  width: 30%;
}
textarea{
  resize: none;
}
/* Mobile-friendly layout */
@media (max-width: 768px) {
  .contact-form {
      width: 90%;
  }
  .text-divos span{
    font-size: 30px;
  }
}
.featured-items {
  text-align: center;
  padding: 2rem;
  background-color: white;
  margin-top: 5rem;
}

.featured-items h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #333;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 10%;
  border-radius: 8px;
}

.card h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  color: #333;
}

.card p {
  font-size: 0.9rem;
  color: #666;
}
@media (max-width: 400px) {
  .hero {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 350px;
  }
  .hero__content {
    display: flex;
    align-items: center;
    margin: 0;
    flex-direction: column;
    width: 100vw;
  }
  .hero__content h1 {
    font-size: 33px;
    width: 100%;
  }
  .hero__content p {
    padding: 0;
    font-size: 13px;
    width: 80%;
    display: flex;
    text-align: center;
  }
  .imgossss{
    width: 250px;
    height: 250px;
  }
  .hero__content__buttons button {
    width: 90px;
    height: 30px;
    font-size: 12px;
  }
  .row img {
    width: 90px;
    height: auto;
    
  } 
  .bigOne  img{
  margin-top: 10px;
  width: 290px;
  height: 200px;
  }
}/*# sourceMappingURL=hero.module.css.map */


/*Gelerie styles*/
.galery{
  width: 100vw;
  
}

.phto-part{
  padding: 4rem 11%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.al{
  font-family: Playfair Display;
  font-size: 68px;
  color: black;
}
